<div id="g_id_onload"
     data-client_id="102492830902-8ktsaguk314f5b0fgg06jdr3afrak7c1.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="https://e-shop-22-06-23.netlify.app/components/login-out/login"
     data-auto_prompt="false">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="continue_with"
     data-size="large"
     data-logo_alignment="left">
     
</div>